Consumer/ProvideWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://src/" name="ProvideWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://src/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://src/" schemaLocation="ProvideWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="InterruptedException">
    <part name="fault" element="tns:InterruptedException"/>
  </message>
  <message name="getProcessTime">
    <part name="parameters" element="tns:getProcessTime"/>
  </message>
  <message name="getProcessTimeResponse">
    <part name="parameters" element="tns:getProcessTimeResponse"/>
  </message>
  <message name="setProcessTime">
    <part name="parameters" element="tns:setProcessTime"/>
  </message>
  <message name="setProcessTimeResponse">
    <part name="parameters" element="tns:setProcessTimeResponse"/>
  </message>
  <message name="sayYo">
    <part name="parameters" element="tns:sayYo"/>
  </message>
  <message name="sayYoResponse">
    <part name="parameters" element="tns:sayYoResponse"/>
  </message>
  <portType name="ProvideWS">
    <operation name="hello">
      <input wsam:Action="http://src/ProvideWS/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://src/ProvideWS/helloResponse" message="tns:helloResponse"/>
      <fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://src/ProvideWS/hello/Fault/InterruptedException"/>
    </operation>
    <operation name="getProcessTime">
      <input wsam:Action="http://src/ProvideWS/getProcessTimeRequest" message="tns:getProcessTime"/>
      <output wsam:Action="http://src/ProvideWS/getProcessTimeResponse" message="tns:getProcessTimeResponse"/>
    </operation>
    <operation name="setProcessTime">
      <input wsam:Action="http://src/ProvideWS/setProcessTimeRequest" message="tns:setProcessTime"/>
      <output wsam:Action="http://src/ProvideWS/setProcessTimeResponse" message="tns:setProcessTimeResponse"/>
    </operation>
    <operation name="sayYo">
      <input wsam:Action="http://src/ProvideWS/sayYoRequest" message="tns:sayYo"/>
      <output wsam:Action="http://src/ProvideWS/sayYoResponse" message="tns:sayYoResponse"/>
    </operation>
  </portType>
  <binding name="ProvideWSPortBinding" type="tns:ProvideWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InterruptedException">
        <soap:fault name="InterruptedException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProcessTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setProcessTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sayYo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProvideWS">
    <port name="ProvideWSPort" binding="tns:ProvideWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

