SWIM/src/wsdl/192.168.100.132_8080/Provider/ProvideWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://src/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://src/" name="ProvideWS">
<types>
<xsd:schema>
<xsd:import namespace="http://src/" schemaLocation="http://192.168.100.132:8080/Provider/ProvideWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sayYo">
<part name="parameters" element="tns:sayYo"/>
</message>
<message name="sayYoResponse">
<part name="parameters" element="tns:sayYoResponse"/>
</message>
<message name="setProcessTime">
<part name="parameters" element="tns:setProcessTime"/>
</message>
<message name="setProcessTimeResponse">
<part name="parameters" element="tns:setProcessTimeResponse"/>
</message>
<message name="processConsumerRequest">
<part name="parameters" element="tns:processConsumerRequest"/>
</message>
<message name="processConsumerRequestResponse">
<part name="parameters" element="tns:processConsumerRequestResponse"/>
</message>
<portType name="ProvideWS">
<operation name="hello">
<input wsam:Action="http://src/ProvideWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://src/ProvideWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sayYo">
<input wsam:Action="http://src/ProvideWS/sayYoRequest" message="tns:sayYo"/>
<output wsam:Action="http://src/ProvideWS/sayYoResponse" message="tns:sayYoResponse"/>
</operation>
<operation name="setProcessTime">
<input wsam:Action="http://src/ProvideWS/setProcessTimeRequest" message="tns:setProcessTime"/>
<output wsam:Action="http://src/ProvideWS/setProcessTimeResponse" message="tns:setProcessTimeResponse"/>
</operation>
<operation name="processConsumerRequest">
<input wsam:Action="http://src/ProvideWS/processConsumerRequestRequest" message="tns:processConsumerRequest"/>
<output wsam:Action="http://src/ProvideWS/processConsumerRequestResponse" message="tns:processConsumerRequestResponse"/>
</operation>
</portType>
<binding name="ProvideWSPortBinding" type="tns:ProvideWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayYo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setProcessTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processConsumerRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProvideWS">
<port name="ProvideWSPort" binding="tns:ProvideWSPortBinding">
<soap:address location="http://192.168.100.132:8080/Provider/ProvideWS"/>
</port>
</service>
</definitions>