SWIM/src/wsdl/192.168.100.133_8080/Consumer/ConsumerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://src/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://src/" name="ConsumerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://src/" schemaLocation="http://192.168.100.133:8080/Consumer/ConsumerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addSequence">
<part name="parameters" element="tns:addSequence"/>
</message>
<message name="addSequenceResponse">
<part name="parameters" element="tns:addSequenceResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="resetSequence">
<part name="parameters" element="tns:resetSequence"/>
</message>
<message name="resetSequenceResponse">
<part name="parameters" element="tns:resetSequenceResponse"/>
</message>
<message name="runConsumer">
<part name="parameters" element="tns:runConsumer"/>
</message>
<message name="runConsumerResponse">
<part name="parameters" element="tns:runConsumerResponse"/>
</message>
<message name="callProvider">
<part name="parameters" element="tns:callProvider"/>
</message>
<message name="callProviderResponse">
<part name="parameters" element="tns:callProviderResponse"/>
</message>
<message name="callProviderViaESB">
<part name="parameters" element="tns:callProviderViaESB"/>
</message>
<message name="callProviderViaESBResponse">
<part name="parameters" element="tns:callProviderViaESBResponse"/>
</message>
<message name="sendRequestToProvider">
<part name="parameters" element="tns:sendRequestToProvider"/>
</message>
<message name="sendRequestToProviderResponse">
<part name="parameters" element="tns:sendRequestToProviderResponse"/>
</message>
<message name="getresults">
<part name="parameters" element="tns:getresults"/>
</message>
<message name="getresultsResponse">
<part name="parameters" element="tns:getresultsResponse"/>
</message>
<message name="run">
<part name="parameters" element="tns:run"/>
</message>
<message name="runResponse">
<part name="parameters" element="tns:runResponse"/>
</message>
<message name="createString">
<part name="parameters" element="tns:createString"/>
</message>
<message name="createStringResponse">
<part name="parameters" element="tns:createStringResponse"/>
</message>
<portType name="ConsumerWS">
<operation name="addSequence">
<input wsam:Action="http://src/ConsumerWS/addSequenceRequest" message="tns:addSequence"/>
<output wsam:Action="http://src/ConsumerWS/addSequenceResponse" message="tns:addSequenceResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://src/ConsumerWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://src/ConsumerWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="resetSequence">
<input wsam:Action="http://src/ConsumerWS/resetSequenceRequest" message="tns:resetSequence"/>
<output wsam:Action="http://src/ConsumerWS/resetSequenceResponse" message="tns:resetSequenceResponse"/>
</operation>
<operation name="runConsumer">
<input wsam:Action="http://src/ConsumerWS/runConsumerRequest" message="tns:runConsumer"/>
<output wsam:Action="http://src/ConsumerWS/runConsumerResponse" message="tns:runConsumerResponse"/>
</operation>
<operation name="callProvider">
<input wsam:Action="http://src/ConsumerWS/callProviderRequest" message="tns:callProvider"/>
<output wsam:Action="http://src/ConsumerWS/callProviderResponse" message="tns:callProviderResponse"/>
</operation>
<operation name="callProviderViaESB">
<input wsam:Action="http://src/ConsumerWS/callProviderViaESBRequest" message="tns:callProviderViaESB"/>
<output wsam:Action="http://src/ConsumerWS/callProviderViaESBResponse" message="tns:callProviderViaESBResponse"/>
</operation>
<operation name="sendRequestToProvider">
<input wsam:Action="http://src/ConsumerWS/sendRequestToProviderRequest" message="tns:sendRequestToProvider"/>
<output wsam:Action="http://src/ConsumerWS/sendRequestToProviderResponse" message="tns:sendRequestToProviderResponse"/>
</operation>
<operation name="getresults">
<input wsam:Action="http://src/ConsumerWS/getresultsRequest" message="tns:getresults"/>
<output wsam:Action="http://src/ConsumerWS/getresultsResponse" message="tns:getresultsResponse"/>
</operation>
<operation name="run">
<input wsam:Action="http://src/ConsumerWS/runRequest" message="tns:run"/>
<output wsam:Action="http://src/ConsumerWS/runResponse" message="tns:runResponse"/>
</operation>
<operation name="createString">
<input wsam:Action="http://src/ConsumerWS/createStringRequest" message="tns:createString"/>
<output wsam:Action="http://src/ConsumerWS/createStringResponse" message="tns:createStringResponse"/>
</operation>
</portType>
<binding name="ConsumerWSPortBinding" type="tns:ConsumerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addSequence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetSequence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="runConsumer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="callProviderViaESB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendRequestToProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getresults">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="run">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsumerWS">
<port name="ConsumerWSPort" binding="tns:ConsumerWSPortBinding">
<soap:address location="http://192.168.100.133:8080/Consumer/ConsumerWS"/>
</port>
</service>
</definitions>